export HDWALLET_MNEMONIC=''
export ADMIN_ADDRESS=''
export LOCAL_ADMIN_ADDRESS=0xc783df8a850f42e7F7e57013759C285caa701eB6
export LOCAL_ADMIN_ADDRESS_2=0xead9c93b79ae7c1591b1fb5323bd777e86e150d4
export INFURA_API_KEY=''
export ETHERSCAN_API_URL=''
export ETHERSCAN_API_KEY=''
export LOCAL_BUIDLEREVM_PORT=8545