#Builder files
crytic-export
cache
.cache-openzeppelin
artifacts
.history
build
.build-openzeppelin
node_modules
dist
coverage
coverage.json
.envrc
.openzeppelin/dev-*
.openzeppelin/.session
.oz-migrate/dev-*
test-results.xml
.DS_Store
deployments/local*
Networks.md
deployments/fork*
crytic-export
