node_modules*
.ganache
build
networks/*
.DS_Store
.openzeppelin/.lock
yarn-error.log
.envrc
zos.dev*.json
.zos.session
.zos.lock
.openzeppelin/.session
.openzeppelin/dev-*.json
.oz-migrate/mainnet_fork
coverage
coverage.json
test-results.xml
abis
junit
.ganache-fork
